<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="acheng1314.cn.dao.UserDao">
    <select id="selectNotUsed" resultType="acheng1314.cn.domain.User">
    SELECT * FROM `cc_user` WHERE `used`=0;
    </select>
</mapper>